# Python
__pycache__/
*.py[cod]
*$py.class

# AI Models (quá lớn cho GitHub)
*.task
*.dat
*.pth
*.pt

# Logs & Temp
*.log
tmp/
server_python/main/xiaozhi-server/tmp/

# Môi trường
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo